.billInputForm {
  display: flex;
  flex-direction: column;
}

.billInputForm label {
  font-size: 1rem;
  margin-top: 0.85rem;
  margin-bottom: 0.4rem;
  color: hsl(186, 14%, 43%);
}

.billInputForm div {
  position: relative;
  margin-bottom: 2.55rem;
}

.billInputForm div p {
  display: none;
  color: red;
  position: absolute;
  top: -30px;
  right: 0;
}

.billInputForm div img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.billInputForm input {
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 6px;
  padding: 0.35rem 1.05rem 0.35rem 2.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: right;
  outline-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.billInputForm input::placeholder {
  color: #9ebbbd;
}

@media only screen and (max-width: 991px) {
  .billInputForm div {
    margin-bottom: 2rem;
  }
}
