.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.45rem;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: hsl(185, 41%, 84%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@media only screen and (max-width: 991px) {
  .app {
    gap: 2.5rem;
    padding: 3.1rem 1rem 3.1rem;
  }
}

@media only screen and (max-height: 933px) {
  .app {
    gap: 2.5rem;
    padding: 3.1rem 0 0;
  }

  @media only screen and (max-width: 500px) {
    .app {
      padding: 3.1rem 0;
    }
  }
}
