.bill-input-form {
  display: flex;
  flex-direction: column;
}

.bill-input-form label {
  margin-top: 0.85rem;
  margin-bottom: 0.35rem;
  color: hsl(186, 14%, 43%);
}

.bill-input-form div {
  position: relative;
  margin-bottom: 2.55rem;
}

.bill-input-form div img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.bill-input-form input {
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 6px;
  padding: 0.35rem 1.05rem 0.35rem 2.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  direction: rtl;
}

.bill-input-form input::placeholder {
  color: #9ebbbd;
}
