.calculator-output-section {
  padding: 2.7rem 2.5rem 2.5rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator-output-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.65rem;
}

.calculator-output-section .text h3 {
  font-size: 16px;
  color: hsl(189, 41%, 97%);
}

.calculator-output-section .text p {
  font-size: 13px;
  color: hsl(184, 14%, 56%);
}

.calculator-output-section .price {
  max-width: 227px;
  font-size: 47px;
  letter-spacing: -0.4px;
  color: hsl(172, 67%, 45%);
  position: relative;
  bottom: 2px;
  word-wrap: break-word;
}

.calculator-output-section .reset-btn {
  font-family: inherit;
  font-size: 20px;
  padding: 0.7rem 0.5rem 0.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.calculator-output-section .reset-btn:hover,
.calculator-output-section .reset-btn:focus-visible {
  background-color: #9fe8df;
}

.calculator-output-section .reset-btn:active {
  filter: brightness(95%);
}

.calculator-output-section .reset-btn-disabled {
  font-family: inherit;
  font-size: 20px;
  padding: 0.7rem 0.5rem 0.4rem;
  border: none;
  border-radius: 5px;
  background-color: #0d686d;
  color: hsla(183, 100%, 15%, 0.5);
}

@media only screen and (max-width: 991px) {
  .calculator-output-section {
    padding: 2.45rem 1.5rem 1.65rem;
  }
  .calculator-output-section .price {
    font-size: 30px;
  }

  .calculator-output-section .row {
    margin-bottom: 1.45rem;
  }
  .calculator-output-section .row:last-child {
    margin-bottom: 2rem;
  }
}
